@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
body {
  background-color: #181a22;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
p,
div,
span,
a,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

.alt-footer {
  margin-top: 20px;
  background-color: #22242e;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alt-footer a {
  color: #fff;
  text-decoration: none;
}

.alt-footer a:hover {
  text-decoration: underline;
}

.alt-footer p {
  margin: 0;
  color: #fff;
  text-decoration: none;
  display: inline;
}

.alt-footer p a {
  color: #6063ff;
  text-decoration: none;
}

.alt-footer p a:hover {
  text-decoration: underline;
}

.color {
  background-color: #6063ff;
  height: 5px;
}

.wave {
  width: 1200px;
  height: 1250px;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 30%;
  background: rgba(28, 28, 41, 0.75);
  -webkit-animation: wave 15s infinite linear;
          animation: wave 15s infinite linear;
  z-index: -1;
}

.div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.div-container .centered {
  text-align: center;
}

.div-container .centered h1 {
  color: #6063ff;
  font-size: 48px;
  font-weight: 500;
}

.div-container .centered p {
  color: #eee;
  font-size: 24px;
  font-weight: 400;
}

.listing {
  margin-top: 100px;
  text-align: center;
}

.listing h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

.listing .flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15%;
  padding-left: 15%;
}

.listing .flex-list a {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 24px;
  font-weight: 400;
  border-radius: 300px;
  text-decoration: none;
  margin: 5px;
  -webkit-transition: 250ms;
  transition: 250ms;
  opacity: 0.8;
}

.listing .flex-list a:hover {
  opacity: 1;
}

.listing .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%;
}

.listing .lists .project-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
      flex: 1 1 25%;
  width: auto;
  margin: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #232635;
  border-radius: 20px;
  height: auto;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.listing .lists .project-card:hover {
  background-color: #282c3f;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.listing .lists .project-card h1 {
  color: #6063ff;
  font-size: 26px;
  font-weight: 500;
}

.listing .lists .project-card p {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 400;
}

.navbar {
  background-color: transparent;
  margin-top: 10px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 500;
}

.navbar .button-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: right;
}

@media only screen and (max-width: 342px) {
  .navbar .button-list {
    float: left;
  }
}

.navbar a {
  margin-top: -4px;
  padding: 6px;
  background-color: transparent;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.navbar a:hover {
  background-color: rgba(96, 99, 255, 0.473);
}

.container {
  margin: 100px 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card {
  padding: 30px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #22242e;
  border-radius: 10px;
  max-width: 50%;
  -webkit-animation: smooth-shake 5s ease-in-out infinite;
          animation: smooth-shake 5s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .card h1 {
  display: inline;
  cursor: pointer;
  color: whitesmoke;
  word-wrap: break-word;
  font-weight: 500;
}

.container .card .discord-disc {
  display: inline;
  color: gainsboro;
  word-wrap: break-word;
}

.container .card p {
  color: gainsboro;
  word-wrap: break-word;
}

.container .card .avatar {
  width: 45%;
  border-radius: 20px;
  margin-bottom: 15px;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

@media only screen and (max-width: 744px) {
  .container .card {
    width: 250px;
  }
}

.container .myself {
  width: 70%;
  max-height: 100%;
}

.container .myself .title {
  color: #fafafa;
  word-wrap: break-word;
  font-weight: 500;
}

.container .myself .title span {
  color: #6063ff;
  word-wrap: break-word;
}

.container .myself .desc {
  color: #fafafa;
  word-wrap: break-word;
  font-size: 18px;
}

.container .myself .desc a {
  color: #6063ff;
  opacity: 0.7;
}

.container .myself .desc a:hover {
  opacity: 1;
}

.container .myself .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .myself .social img {
  cursor: pointer;
  margin: 0;
  display: inline;
  width: 24px;
  margin-right: 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.container .myself .social img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .myself .social .white {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(107%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(107%) contrast(101%);
}

@media only screen and (max-width: 744px) {
  .container {
    margin: 100px 0 0 0;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #404063;
  border-radius: 10px;
}

@-webkit-keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */