@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@font-face {
  font-family: "Jetbrains Mono";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/JetBrainsMono-Regular.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

body {
  background-color: #222331;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

hr {
  width: 80%;
  outline: none;
  border: 2px solid #353755;
}

.line {
  min-height: 6px;
  background: #d739c4;
  background: -webkit-gradient(linear, left top, right top, from(#d739c4), to(#e34e8b));
  background: linear-gradient(90deg, #d739c4 0%, #e34e8b 100%);
}

#navbar {
  background-color: transparent;
  margin-top: 10px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#navbar h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 500;
}

#navbar .button-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: right;
}

@media only screen and (max-width: 342px) {
  #navbar .button-list {
    float: left;
  }
}

#navbar .button-list a {
  margin-top: -2px;
  padding: 6px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 250ms;
  transition: 250ms;
  color: #fff;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#d739c4), to(#e34e8b));
  background-image: linear-gradient(90deg, #d739c4 0%, #e34e8b 100%);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

#navbar .button-list a:hover {
  background-size: 100% 100%;
}

.center {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.flex-container {
  margin-top: 75px;
  margin: 100px 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .profile {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.flex-container .profile .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 156px;
  height: 156px;
  margin: auto;
  background-color: #ff3640;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-animation: morphing 10s ease-in-out infinite;
          animation: morphing 10s ease-in-out infinite;
  overflow: hidden;
}

.flex-container .profile .status:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@media only screen and (max-width: 342px) {
  .flex-container .profile .status {
    width: 92px;
    height: 92px;
  }
}

.flex-container .profile .status .avatar-pic {
  width: 128px;
  border-radius: 50%;
  -webkit-animation: smooth-shake 10s ease-in-out infinite;
          animation: smooth-shake 10s ease-in-out infinite;
}

@media only screen and (max-width: 342px) {
  .flex-container .profile .status .avatar-pic {
    width: 64px;
  }
}

.flex-container .profile #details {
  margin-top: 10px;
}

.flex-container .profile #details #username {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.flex-container .profile #details #tag {
  background: -webkit-gradient(linear, left top, right top, from(#d739c4), to(#e34e8b));
  background: linear-gradient(90deg, #d739c4 0%, #e34e8b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.flex-container .about {
  width: 80%;
  text-align: left;
}

.flex-container .about h1 {
  color: #fff;
  word-wrap: break-word;
  font-size: 28px;
  font-weight: 500;
}

.flex-container .about h1 span {
  background: -webkit-gradient(linear, left top, right top, from(#d739c4), to(#e34e8b));
  background: linear-gradient(90deg, #d739c4 0%, #e34e8b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-container .about p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
}

.flex-container .about p a {
  color: #cbd6ec;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#d739c4), to(#e34e8b));
  background-image: linear-gradient(90deg, #d739c4 0%, #e34e8b 100%);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% 2px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.flex-container .about p a:hover {
  background-size: 100% 2px;
}

.flex-container .about .social img {
  cursor: pointer;
  margin: 0;
  display: inline;
  width: 24px;
  margin-right: 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(107%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(107%) contrast(101%);
}

.flex-container .about .social img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
}

#technologies {
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

#technologies .technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #353755;
  border-radius: 10px;
  margin: 5px;
}

#technologies .technology img {
  background: -webkit-gradient(linear, left top, right top, from(#d739c4), to(#e34e8b));
  background: linear-gradient(90deg, #d739c4 0%, #e34e8b 100%);
  margin: 0;
  padding: 10px;
  width: 32px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#technologies .technology a {
  padding: 10px;
  display: inline;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  font-family: consolas, serif;
}

#technologies .technology a:hover {
  text-decoration: underline;
}

@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@-webkit-keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/*# sourceMappingURL=style.css.map */